[submodule "manager"]
	path = manager
	url = git@github.com:AGH-Skylink/mission_control_manager.git
[submodule "audio"]
	path = audio
	url = git@github.com:AGH-Skylink/mission_control_audio.git
[submodule "ui"]
	path = ui
	url = git@github.com:AGH-Skylink/mission_control_ui.git
[submodule "server"]
	path = server
	url = git@github.com:AGH-Skylink/mission_control_server.git
